.header {
  position: relative;
  height: 400px;
  width: 100%;
  top: 120px;
  background-color: #FFF09E ;
}

.image {
  position: relative; 
  top: 65px; 
  display: flex;
  margin: auto;
  width: 15%;
  opacity: 0.6;
}

.name{
  margin-top: 30px;
  text-align: center;
  width: auto; 
}