html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {  
  color: black;
  background-color: #FFD473;
  font-family: 'source sans pro';
  font-size: 24px;
}

main {
  align-self: auto;
  width: 90%;
  margin-left: 5%;

}
