

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  
    body {
      padding-right: 5px;
     }
  
     .container {
       margin-top: 12px;
     }
     .tweet p {
       border-bottom:black solid 4px ;
     }
     .header {
      margin-top: 121px;
      margin-right: 34px;
     }

  }

   /* Smartphones: minimum width of 320px to maximum width of around 420px */
   @media only screen and (min-width: 320px) and (max-width: 420px) {
    #tweeter {
      font-size: small;
    }
    
    #write_tweet {
      font-size: small;
      margin-right: 5%;
    }

    .image {
      align-self: auto;
      justify-content: center;
      resize: both;
    }

    .wrapper {
      flex-direction: column;
    }
  }