

nav {
  position: fixed;
  display: block;
  z-index: 999999;
  height: 120px;
  width: 100%;
  font-family: 'source sans pro';
  color: #FFFFFF;
  background-color: #4056A1;
}

#tweeter {
  position: fixed;
  position: sticky; top: 50px;
  font-family: 'bungee';
  padding-left: 50px;
  padding-bottom: 1em;
}

#write_tweet {
  position: fixed;
  position: sticky; top: 50px;
  font-family: 'bungee';
  margin-right: 50px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  float: right;
  background-color: #4056A1;
  border: none;
  color: #FFFFFF;
  
}

#write_tweet:hover {
  box-shadow: 0 0 15px #d35400;
}