.container {
  position: relative;
  top: 120px;
  font-style: italic;
  width: 100%;
  border-bottom-width: 20px;
}

#textbox {
  font-style: italic;
  margin: 0px;
  height: 106px;
  width: 243px;
  border-bottom-width: 5px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  width: 90%;
  background-color: #ACA477;
}

#thatbutton {
float: left;
}

.counter {
float: right;
margin-right: 10%;
}

.new-tweet {
  margin-bottom: 10px;
}

.oldtweet {
  margin-top: 25px;
  border: 3px solid white;
  width: 90%;
  background-color: #ACA477;
}

.tweethead {
  height: 70px;
  background-color: #ACA477;
  padding-left: 1em;
  padding-top: 10px;
  display: inline-block;
  width: 100%;
}

.tweethead .span {
  vertical-align: middle;
  display: inline-flex;
  padding-top: 5px;
}

.tweethead .name {
  display: inline-flex;
}

.tweethead .handle {
float: right;
margin-right: 5px;
} 

.tweetbody {
  font-style: italic;
  padding-left: 1em;
}

.tweetfoot {
  background-color: #ACA477;
  border-top: 1px solid black;
  padding-top: 5px;
  padding-left: 1em;
  padding-bottom: 5px;
  padding-right: 1em;
}

.tweeter .timecounter {
  float: left;
  vertical-align: middle;
}

.tweetfoot i{
  float: right;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 3px;
}

.allimages {
  display: none;
}

.tweetfoot:hover .allimages {
  display: contents;
}

.oldtweet:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px #d35400;
  filter: blur(3px);
}

.oldtweet:hover {
  box-shadow: 0 0 15px #d35400;
}